*{
    margin:0;
    padding:0;
}
.banner-content{
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0,0,0,0.2)),url(../image/pexels-medhat-ayad-122846-439227.jpg);
    background-size: cover ;
}
.banner-content .fire:before {
	content: '';
	display: inline-block;
	
}
.transition {
	display: inline-block;
   color: rgb(14, 78, 83);
    font-size: 50px;
	line-height: 50px;
	/* min-width: 50px; */
	text-shadow:
        0 3px 20px rgb(14, 83, 138),
        0 0 20px rgb(6, 148, 122),
		0 0 10px rgb(9, 92, 128),
		4px -5px 6px rgb(8, 188, 119),
		-4px -10px 10px rgb(130, 130, 6),
		0 -10px 30px yellow;
	animation: 2.5s transition infinite alternate linear;
}

@keyframes transition {
	0%   { text-shadow: 0 2px 18px rgb(6, 70, 104), 0 0 20px rgb(14, 96, 163),
		0 0 10px rgb(11, 168, 179),
		0 0 0 rgb(150, 150, 11),
		0 0 5px rgb(165, 165, 10),
		-2px -5px 5px rgb(114, 114, 5),
		4px -10px 10px yellow; }
	25%   { text-shadow: 0 2px 17px rgb(206, 13, 13), 0 0 25px rgba(161, 52, 52, 0.82),
		0 0 20px orange,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		3px -10px 10px rgb(4, 89, 120),
		-4px -15px 20px yellow; }
	50%   { text-shadow: 0 2px 17px red, 0 0 17px red,
		0 -5px 10px orange,
		-2px -5px 5px rgb(168, 140, 12),
		3px -10px 10px rgb(111, 111, 18),
		-4px -15px 20px yellow,
		2px -20px 30px rgba(255,255,0,0.5); }
	75%   { text-shadow: 0 2px 17px red, 0 0 17px red,
		0 -5px 10px rgb(169, 72, 8),
		3px -5px 5px yellow,
		-4px -10px 10px rgb(176, 129, 9),
		2px -20px 30px rgba(255,255,0,0.5),
		0px -25px 40px rgba(255,255,0,0)}
	100%   { text-shadow: 0 3px 17px red, 0 0 18px rgb(160, 9, 9),
		0 0 10px orange,
		0 0 0 rgb(202, 202, 30),
		0 0 5px rgb(51, 51, 3),
		-2px -5px 5px rgb(101, 170, 15),
		4px -10px 10px rgb(134, 134, 19); }
}
    	
.social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #0c95d9;
    text-decoration: none;
    color: #dedadf;
    position: relative;
    z-index:1;
    overflow: hidden;
}
.social-icon a:hover{
    color: aquamarine;
}
.social-icon a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #0c95d9;
    z-index: -1;
    transition: all 0.5s linear;
}
.social-icon a:hover::before{
    width: 100%;

}
 /*Footer starts*/
footer{
   background: url("../image/Footer.jpg") center no-repeat;
  
}
